In [1]:
import p1_functions as f
import pandas as pd

In [2]:
#Obteción de información de Yahoo finance
df=f.comm_price_df() #Construcción de dataframe mediante el llamado a la función commodities price dataframe: comm_price_df()

In [3]:
df=f.renombrar_columnas(df) #Estandarizacion a minúsculas, no espacios ni acentos de nombres de columnas
df=f.estandarizar_fechas(df) #Estandarización del formato de fecha
df=f.limpiar_dataframe(df) # Limpieza de los valores en el dataframe y resultados del proceso

Reporte de valores nulos antes de la limpieza:
date           0
oro            0
plata          0
petroleo       0
gas_natural    0
dtype: int64



No se han rellenado los valores nulos.

Se eliminaron las filas con al menos un valor nulo.
Cantidad de datos antes de la limpieza: 248 filas.
Cantidad de datos después de la limpieza: 248 filas.
Se eliminaron 0 filas con valores nulos.

In [4]:
df=f.indices_precios_comm(df) #Cálculo y adición de columnas para índicies de los precios de los commodities

#### Importanción y limpieza de datos gubernamentales en .csv de México

In [5]:
df_incp=pd.read_csv("Data\INCP.csv") #Lee archivo .csv con datos del Indice Nacional de Precios al COnsumidor (MX)
df_incp=f.renombrar_columnas(df_incp) #Elimina espacios y mayúsculas de nombres de columnas
df_incp=f.renombrar_columnas_incp(df_incp) #Cambia nombres de columnas a nombres especificados dentro de la función
df_incp=f.estandarizar_fechas(df_incp) #Estandariza formato de los valores en la columna fecha
df_incp=f.limpiar_csv(df_incp)

Total de valores NaN antes de la limpieza: 576
Total de valores NaN después de eliminar filas: 0

Cantidad de datos antes de la limpieza: 658 filas
Cantidad de datos después de la limpieza: 514 filas

#### Importanción y limpieza de datos gubernamentales en .csv de España

In [6]:
df_ipc=pd.read_csv("Data\IPC.csv") #Lee archivo .csv con datos del Indice Nacional de Precios al COnsumidor (MX)
df_ipc=f.renombrar_columnas(df_ipc) #Elimina espacios y mayúsculas de nombres de columnas
df_ipc=f.renombrar_columnas_icp(df_ipc) #Cambia nombres de columnas a nombres especificados dentro de la función
df_ipc=f.estandarizar_fechas(df_ipc) #Estandariza formato de los valores en la columna fecha
df_ipc=f.limpiar_csv(df_ipc)

Total de valores NaN antes de la limpieza: 0
Total de valores NaN después de eliminar filas: 0

Cantidad de datos antes de la limpieza: 274 filas
Cantidad de datos después de la limpieza: 274 filas

#### Detección definición de límites de fechas para análisis y unión de los datos en un único dataframe

In [ ]:
f.fechas_limite(df,df_incp,df_ipc) #Función para calcular los límites de fecha para los tres dataframe
#Estos límites justifican la intersección de los dataframe.

Fecha límite menor:2002-01-01 00:00:00
 Fecha límite mayor: 2024-10-01 00:00:00

In [ ]:
df_final=f.unir_dataframes(df,df_incp) #Unión de dataframe precios de commodities y datos incp
df_final=f.unir_dataframes(df_final,df_ipc) #Unicón de dataframe anterior y datos ipc

Cantidad de filas en el DataFrame 'df1' antes de la unión: 248
Cantidad de filas en el DataFrame 'df2' antes de la unión: 514
Cantidad de filas en el DataFrame resultante después de la unión: 248

Cantidad de filas en el DataFrame 'df1' antes de la unión: 248
Cantidad de filas en el DataFrame 'df2' antes de la unión: 274
Cantidad de filas en el DataFrame resultante después de la unión: 235

,date,oro,plata,petroleo,gas_natural,indice_oro,indice_plata,indice_petroleo,indice_gas_natural,indice_general_mx,alimentos_bebidas_mx,vivienda_mx,educacion_mx,transporte_mx,indice_general_es,alimentos_bebidas_es,vivienda_es,educacion_es,transporte_es
232,2024-07-01,2426.500000,28.778000,77.910004,2.036,135.331846,155.212768,198.395729,116.276411,136.003,152.245686,119.29414,127.651171,127.121378,115.660,129.058,106.054,105.384,113.440
233,2024-08-01,2493.800049,28.731001,73.550003,2.127,139.085335,154.959281,187.293105,121.473446,136.013,152.663416,119.603121,129.451806,127.650734,115.707,128.595,106.758,105.405,112.565
234,2024-10-01,2738.300049,32.653000,69.260002,2.707,152.721698,176.112395,176.368733,154.597370,136.828,153.295492,120.229015,133.153342,128.159614,115.726,130.058,106.616,107.708,110.802

# FUENTES